numpy>=2.0
pandas>=2.2
matplotlib>=3.9
seaborn>=0.13
scikit-learn>=1.6
scipy>=1.15

torch>=2.6
transformers>=4.50
datasets>=3.3
accelerate>=1.5
evaluate>=0.4

lime>=0.2.0.1

tqdm>=4.67
joblib>=1.4

jupyter
notebook
ipykernel
